<%- include("../header") %>
<h1>Funcionarios</h1>

<div class="card" style="width: 18rem;">
    <img src="/funcionarios/bruno.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bruno</h5>
      <p class="card-text">Barbeiro iniciantes mas com muita vontade de aprender</p>
      <a href="/funcionarios/bruno" class="btn btn-primary">Horarios</a>
    </div>
</div>

<%- include("../footer") %>