<%- include("../header") %>
<h1>Funcionario Bruno</h1>

<img src="/funcionarios/bruno.jpeg" class="rounded mx-auto d-block" alt="..." />

<div class="container text-center p-4 mt-4 mb-4 bg-body-secondary position-relative">
    <div class="row">
      <div class="col">
        Nome: Bruno Martins
      </div>
      <div class="col">
        Nascimentos: 20/08/2000
      </div>
      <div class="col">
        Experiecina: 3 anos
      </div>
      <div class="col">
        Horarios: Tarde e Noite
      </div>
    </div>
  </div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Cliente</th>
      <th scope="col">Horario</th>
      <th scope="col">Dia</th>
      <th scope="col">Açoes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Joao</td>
      <td>19:00</td>
      <td>10/11/2023</td>
      <td><button type="button" class="btn btn-primary">Editar</button><button type="button" class="ms-2 btn btn-danger">Deletar</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Rafael</td>
      <td>20:00</td>
      <td>20/12/2023</td>
      <td><button type="button" class="btn btn-primary">Editar</button><button type="button" class="ms-2 btn btn-danger">Deletar</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Pedro</td>
      <td>14:00</td>
      <td>24/12/2023</td>
      <td><button type="button" class="btn btn-primary">Editar</button><button type="button" class="ms-2 btn btn-danger">Deletar</button></td>
    </tr>
  </tbody>
</table>

<%- include("../footer") %>
